.conteiner-atendimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 30px 50px;
}
.conteiner-atendimento h1 {
    color: #CD7352;
    font-size: 54px;
    text-align: center;
    padding-left: 100px;
}
.conteiner-atendimento a {
    text-decoration: none;
    color: #CD7352;
    padding: 5px 20px;
    border-radius: 4px;
    border: 1px solid #CD7352;
}
.conteiner-atendimento a:hover {
    background-color: #CD7352;
    box-shadow: 0 0 4px #CD7352;
    color: #FFF;
}
.conteiner-atendimento span{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
}
.conteiner-legado {
    margin: 50px 30px;
    padding: 20px;
    border: 1px solid #CE53DF;
    border-radius: 50px;
    box-shadow: 0 0 6px #29B7D3;
    display: grid;
}
.conteiner-legado h1 {
    color: #29B7D3;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
}
@media (max-width: 800px) {
    .conteiner-atendimento {
        gap: 5px;
        padding: 20px;
    }
    .conteiner-atendimento h1 {
        font-size: 24px;
    }
    .conteiner-atendimento img{
        height: 60px;
        padding-left: 30px;
        padding-top: 10px;
    }
    .conteiner-atendimento a {
        padding: 5px 5px;
        font-size: 12px;
    }
    .conteiner-atendimento span{
        padding-top: 30px;
        padding-left: 10px;
        padding-bottom: 5px;
    }

}
